a{
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

input[type=number] {
    -moz-appearance: textfield;
}

.MuiSlider-root > span > span {
    font: 500 13px 'Roboto';
    background-color: transparent!important;
    color: grey!important;
    top: 35px!important;
}

.MuiSlider-root > span:nth-child(4) > span {
    top: 0px!important;
}

.MuiSlider-root > span.Mui-focusVisible {
    box-shadow: none;
}

.MuiSlider-root > span:nth-child(3).Mui-active, .MuiSlider-root > span:nth-child(3):hover {
    box-shadow: 0px 0px 0px 5px #ff63473d;
}

.MuiSlider-root > span:nth-child(4).Mui-active, .MuiSlider-root > span:nth-child(4):hover {
    box-shadow: 0px 0px 0px 5px #ff63473d;
}

body{
    background-color: #ffefec;
}

.h-100vh{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.myStoreBtn{
    width: 100%;
    margin: 25px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(255, 79, 48);
    color: white;
    border: none;
    font-size: 17px;
}

.myStoreBtn:hover{
    background-color: rgb(214, 70, 44);
}

.myStoreBtn2{
    width: 100%;
    margin: 25px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(136 136 136);
    color: white;
    border: none;
    font-size: 17px;
}

.myStoreBtn2:hover{
    background-color: rgb(100, 100, 100);
}

.myStoreEditBtn{
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(44, 146, 236);
    border: none;
    font: 500 16px 'Roboto';
}

.myStoreEditBtn:hover{
    background-color: rgb(238, 247, 255);
}