.orderItem{
    border-bottom: none;
    padding-bottom: 0px;
}

.orderBlock-2>div:nth-child(2)>div>div>div{
    margin: 10px 0px;
}

.orderBlock-2>div:nth-child(2)>div>div:nth-child(3){
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    font: 500 18px 'Roboto';
    margin-top: 10px;
}

.orderBlock-3>div:first-child{
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.orderBlock-3>div:first-child>h6{
    margin-top: 5px;
    margin-bottom: 15px;
    font: 500 13px 'Roboto';
}

.orderBlock-3 .orderItemHeading{
    border-bottom: none;
}

.orderTotal>div:last-child{
    font-weight: 500;
}