@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.menuBurger {
    height: 4vmax !important;
}

.userOptions{
    font: 500 20px 'Roboto';
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    place-items: center;
    padding: 10px 0px;
}

.userOptions > div{
    background-color: #ffffff6e;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 3px 3px 6px 0px black;
    border-radius: 10px;
    max-width: 350px;
}

.userOptions>div>div{
    margin: 50px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.userOptions>div>div>a, .userOptions>div>div>div{
    color: black;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.userOptions>div>div>a:hover, .userOptions>div>div>div:hover{
    background-color: rgb(234, 234, 234);
}

.userOptions img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
}

#profileIcon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.nav4>a>svg{
    color: tomato!important;
}

.nav4>a>svg:hover{
    color: rgb(180, 51, 28)!important;
}

@media screen and (max-width: 1000px) {

    .nav2,
    .nav3 {
        flex-direction: column !important;
        justify-content: center !important;
    }
    .logoReactNavbar {
        width: 200%!important;
        max-width: 150%!important;
    }

    .linksReactNavbar {
        font: 30px roboto!important;
    }
}

@media screen and (max-width: 600px) {
    .logoReactNavbar {
        max-width: 150%!important;
    }

    .linksReactNavbar {
        font: 20px roboto!important;
    }
}