.newProductBox{
    width: 85%;
}

.newProductForm{
    background-color: white;
    max-width: 900px;
    border-radius: 7px;
    width: 100%;
    position: relative;
    margin: 40px auto;
    padding: 20px 40px;
}

.newProductForm>div{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.newProductForm>div>svg {
    position: absolute;
    margin-left: 10px;
}

.newProductForm>div>input, .newProductForm>div>textarea{
    padding: 10px 10px 10px 40px;
    width: 100%;
}

.newProductDescription{
    align-items: flex-start!important;
}

.newProductDescription>svg{
    margin-top: 8px;
}

.newProductImagePreview{
    width: 100%;
    overflow: auto;
}

.newProductImagePreview>img{
    width: 150px;
    margin-right: 40px;
    height: 150px;
    object-fit: contain;

}

.signupSubmit:disabled{
    cursor: not-allowed;
    background-color: rgb(255 194 183);
}

.submitButtons{
    flex-direction: column;
}

.submitButtons>button{
    margin: 10px 0px;
}

@media screen and (max-width: 500px) {
    .loginSignupContainer{
        background: white;
        min-height: auto;
    }

    .newProductBox{
        height: 100%;
    }
    
    .newProductForm{
        padding: 0px;  
        margin: 10px auto;
    }
}

/* width */
.newProductImagePreview::-webkit-scrollbar, .newProductDescription>textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: default;
}

/* Track */
.newProductImagePreview::-webkit-scrollbar-track, .newProductDescription>textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: default;
}

/* Handle */
.newProductImagePreview::-webkit-scrollbar-thumb, .newProductDescription>textarea::-webkit-scrollbar-thumb {
    background: tomato;
    cursor: default;
}

/* Handle on hover */
.newProductImagePreview::-webkit-scrollbar-thumb:hover, .newProductDescription>textarea::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 75, 51);
    cursor: default;
}